.nav {
  width: 100px;

  height: 100px;
  margin-bottom: 100px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
}
li {
  float: left;
  margin-bottom: 30px;
}
a {
  width: 150px;
  color: rgb(204, 17, 17);
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-family: Century Gothic;
  font-weight: bold;
}

body {
  padding: 0;
  font-family: sans-sefir;
  background-color: bisque;
  background-size: cover;
}
ul {
  padding: 0;
  width: 1200px;
  display: flex;
}
ul li {
  list-style: none;
}

ul li .imageBox {
  width: 400px;
  height: 285px;
  box-sizing: border-box;
  padding: 0 10px;
}
ul li .imageBox figure {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li .imageBox figure:before,
ul li .imageBox figure:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #262626;
  transition: 0.5s;
}
ul li .imageBox figure:before {
  left: -50%;
}
ul li .imageBox:hover figure:before {
  left: 0;
}
ul li .imageBox figure:after {
  right: -50%;
}
ul li .imageBox:hover figure:after {
  right: 0;
}
ul li .imageBox figure img {
  width: 100%;
  height: 100%;
}
ul li .imageBox figure figcaption {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(20px;);
  z-index: 1;
}
ul li .imageBox:hover figure figcaption {
  opacity: 1;
  transform: translateY(0);
}
ul li .imageBox figure figcaption h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}
ul li .imageBox figure figcaption p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}
ul li .imageBox figure figcaption a {
  display: inline-block;
  padding: 10px 20px;
  background: #ff1922;
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
}
